footer
  .container
    .row
      .six.columns
        p © MINET 2018
      .six.columns.right
        p
          a(href='https://madewithlove.org.in/') Made with ♥ in India
script(src='https://use.typekit.net/buw5klv.js')
script.
  try{Typekit.load({ async: true });}catch(e){}
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
script(src='/js/script.js')
