extends layout

block content
  section#intro
    .container
      .row
        .seven.columns
          h2.title Success
          p Your request was processed successfully.
  
  section#bottom.grey.show-bottom
    .container
      .row
        .four.columns
          h3.bottom-title.grey-text Venue
          p X 2018 will be held at the Mother's International School, Sri Aurobindo Marg, on August 8 - 9, 2018.
          p All the events will be conducted at the venue from 8am to 2pm.
        .four.columns
          h3.bottom-title.grey-text Attendance
          p After confirming their attendance, teams can login to access their dashboards to manage and edit their profiles.
          p Only one team is allowed from each school, per event.
        .four.columns
          h3.bottom-title.grey-text More Links
          .row
            .six.columns
              ul.links
                li.link
                  a.mono.small-text(href='/rsvp') RSVP
                li.link
                  a.mono.small-text(href='/events') Events
                li.link
                  a.mono.small-text(href='/schedule') Schedule
                li.link
                  a.mono.small-text(href='/travel') Travel
                li.link
                  a.mono.small-text(href='/faqs') FAQs
            .six.columns
              ul.links
                li.link
                  a.mono.small-text(href='/request') Invitations
                li.link
                  a.mono.small-text(href='https://facebook.com/minet.mis') Facebook
                li.link
                  a.mono.small-text(href='https://twitter.com/minetclub') Twitter
                li.link
                  a.mono.small-text(href='https://instagram.com/minetclub') Instagram
                li.link
                  a.mono.small-text(href='https://m.me/minet/mis') Message us
