extends ../layout

block content
  section#intro
    .container
      .row
        .eight.columns
          h2.title Events
          p
            | X will consist of our online hunt, CryptX, and eight on-site events — Design, Pitching, Quiz, Gaming, Programming, Group Discussion, Robotics, and Surprise Event. Each event will have a unique theme based around Make.
          p
            | At X, we want all participants of a team to come together as a startup and Make something. All events are interconnected to each other, and add toward the final goal of creating a useful product.
  section.grey
    .container
      .row
        .six.columns.event
          h2.title Design
          p.grey-text.mono.participant-count Participants: 3
          p
            | The Design team will have to build the actual MVP for their startup, along with its logo, website, and deck.
          p
            | Two PCs loaded with everything you might need, and a connection to the internet will be provided to each team. Participants are encouraged to get their laptops, tablets, and other devices to increase productivity and test responsive designs.
          p
            | Participants will be required to upload all files on the cloud at the end of the first day and will be allowed to work from their homes.
          .technical.card
            p
              | Every team will get 2 workstations with an internet connection, and loaded with the following:
            ul
              li
                p Git, npm, and Node.
              li
                p Sublime Text 3 & Prepros
              li
                p Photoshop CC, Illustrator CC, Blender, Sketchup
        .six.columns.event
          h2.title Programming
          p.grey-text.mono.participant-count Participants: 2
          p
            | Participants are expected to be familiar with fundamental programming constructs such as conditional statements, functions and different types of data structures.
          p
            | One PC loaded with all relevant programming software, mentioned below, will be provided to each team. Emphasis will be on paper-based strategies.
          p
            | The event will require an interplay of syntax and semantics in mathematics, logic and computer science. Algorithmic thinking to create optimized solutions will be encouraged.
          .technical.card
            p
              | Every team will get 1 workstation with an internet connection, and loaded with the following:
            ul
              li
                p Code::Blocks
              li
                p Sublime Text
              li
                p TurboC++
  section
    .container
      .row
        .six.columns.event
          h2.title Quiz
          p.grey-text.mono.participant-count Participants: 2
          p
            | X has always been known for turning the traditional Quiz format on its head, and this time it’s no different. With a time-bound Preliminary round followed by a gruelling Final round, it’s an endurance challenge at its very best.
        .six.columns.event
          h2.title Gaming
          p.grey-text.mono.participant-count Participants: 2
          p “Video games foster the mindset that allows creativity to flow” – Nolan Bushnell
          p
            | Participants should be prepared for absolutely anything. Participants are allowed to bring their own gear.
  section.grey
    .container
      .row
        .six.columns.event
          h2.title Robotics
          p.grey-text.mono.participant-count Participants: 2
          p
            | This is our first Robotics event in five years, and we're putting a spin on traditional Robotics. It consists a classic Robot War with victory via ring-out.
          p Robots must <b>not</b> employ the use of active weapons that involve flames, electrical impulses, or entanglement devices.
          p A special bonus will be awarded to teams with wirelessly controlled bots.
          .technical.card.grey
            p Maximum weight: <b>5kg</b>
            p Maximum dimensions: <b>30cm x 30cm x 30cm</b>
            p Maximum voltage: <b>12V DC</b>
        .six.columns.event
          h2.title Group Discussion
          p.grey-text.mono.participant-count Participants: 1
          p  Turning the conventional GD on its head, participants will be tested mainly on their decision-making skills under intense pressure. The knock-out prelims on Day 1 will be followed by a final round on Day 2.
          p The stakes are high.

  section
    .container
      .row
        .six.columns.event
          h2.title Pitching
          p.grey-text.mono.participant-count Participants: 1
          p
            | For the culmination of all events, Pitching participants are required to make a deck, with the help of their design team, to pitch their product. The pitch will be followed by questions from the judges.
          p This event will test your creativity, spontaneity and presentation skills.
        .six.columns.event
          h2.title Surprise
          p.grey-text.mono.participant-count Participants: 1
          p <i>Expect the unexpected</i>.
  section
    .container
      .row
        .six.columns.event
          h2.title CryptX
          p.grey-text.mono.participant-count Participants: Infinite
          p
            | Held on 
            b August 4 - 6
            | , CryptX is X’s trademark online cryptic hunt.
        .six.columns.event
          h2.title.placeholder  
          p.grey-text.mono.participant-count.placeholder  
          //- a.button.ghost(href='') View leaderboard
          //- a.button.cta(href='') Play CryptX
