extends ../layout

block content
  section#intro
    .container
      .row
        .seven.columns
          h2.title FAQs
          p Frequently Asked Questions about X.
  section#faqs.grey.mono
    .container
      .row
        .twelve.columns
          .questions
            dl
              dt.active What is X? Who can attend?
              dd.active
                | X is The Mother’s International School’s annual technology symposium. X is an exclusive invite-only event, and invites are extended to a select number of the very best schools in New Delhi, based on significant achievements in the previous years.
              dt When is X? How do I register?
              dd
                | X will be held on August 8 - 9, 2018. Registrations begin at 8am and the events start soon after. You can register at 
                a(href='https://minet.co/rsvp') https://minet.co/rsvp
                |  with your invite code.
              dt My school hasn’t received an invite code yet. What do I do?
              dd
                | We’re sending out invite codes on a rolling basis. If your school hasn’t received an invite code, you can request one at 
                a(href='https://minet.co/invite') https://minet.co/invite
                | . Since we don’t have a lot of spots for attendees, we’re going to be very selective in sending out invites.
              dt What is CryptX? When is it?
              dd CryptX is X&rsquo;s online cryptic hunt. CryptX will be held from August 4 - 6. Follow our Facebook page for more details.
              dt How does the scoring system work?
              dd
                | Winning each event rewards teams with a certain amount of funding, which contributes to their overall valuation:
                ul
                  li 1st: $100,000
                  li 2nd: $75,000
                  li 3rd: $50,000
                | Teams can also raise funds by the following means:
                ul
                  li $5,000 for each level completed in CryptX.
                  li Upto $50,000 from each investor in the fundraising session on Day 2.
                | The team with the maximum valuation wins the overall prize.
              dt Can I participate in clashing events?
              dd Yes.
              dt Is there a maximum number of events one person can participate in?
              dd No.
  section
    .container
      .row
        .six.columns.event
          h2.title More
          p.grey-text.mono.participant-count Reach out to us
          p
            | Still have questions? Reach out to us via our official Facebook page or Slack channel.
          p
            | If you want to speak to us over the phone, DM us on Messenger and we’ll arrange a call with an official.
        .six.columns.event.center
          h2.title.placeholder  
          img.messenger-code(src='/img/messenger.jpg')
