extends ../layout

block content
  section#masthead
    .container
      .row
        .twelve.columns
          img.logo(alt='X', src='img/x.png', draggable='false')
          h1.hero-text.serif
            | It’s here. 
            span.br Let’s talk X.
          h2.subhead.mono August 8 - 9, 2018
          //a.button.grey-btn.ghost(href='/request') Request Invite
          a.button.cta(href='/request') Request Invite
  
  section#make.grey
    .container
      .row
        .six.columns
          h2.title Make at X
          p Humans innovate.
          p
            | When faced with the seemingly insurmountable, we resort to our inherent ingenuity to deal with it. We make things. Things of utility. Things of majesty. Things that make you stop and think how you didn’t think of a solution so elegant to a problem so daunting.
          p
            | Every once in a while, one of these things also happens to be a thing of beauty. A paragon of design.
          p At X, we celebrate just that. And try our best to Make.
        .six.columns.center
          img(src='img/make.png', alt='Make', draggable='false')
          p.small-text.grey-text.mono
            | Started in Fall 2014, Make is an initiative by the MINET team to celebrate and promote the spirit of entrepreneurship and to Make useful things.
  
  section#x
    .container
      .row
        .six.columns.center
          img(src='img/x.png', alt='X', draggable='false')
        .six.columns
          h2.title X 2018
          p
            | We’re organizing our annual IT symposium, X, on 
            strong August 8 and 9, 2018
            | . X is an <i>exclusive invite-only</i> event, and invites are extended to a select number of the very best schools in New Delhi, based on significant achievements in the previous years.
          p
            | The event will consist of our online hunt, CryptX, and eight on-site events — Design, Quiz, Gaming, Programming, Robotics, Pitching, Group Discussion, and a Surprise Event. Each event will have a unique theme based around Make.
            
