doctype html
html
  head
    meta(charset='utf-8')
    title MINET X 2018
    meta(charset='utf-8')
    meta(name='author', content='The MINET Team')
    meta(name='description', content='MINET X is The Mother\'s International School\'s annual technology symposium.')
    meta(name='keywords', content='MINET X 2018 The Mother\'s International School Make')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', type='text/css', href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
    link(rel='stylesheet', type='text/css', href='/css/style.css')
    link(rel='icon', type='image/png', href='/img/icon.png')
    link(rel='apple-touch-icon-precomposed', href='/img/icon.png')
    meta(name='theme-color', content='#2979FF')
  body

block content
  section#masthead
    .container
      .row
        .twelve.columns
          h2.robothead.title.center Reintroducing RobotiX
          img.logo(alt='X', src='img/x.png', draggable='false')
          p
            | X will consist of our online hunt, CryptX, and six on-site events — Design, Quiz, Gaming, Programming, Speaking, and Surprise Event. Each event will have a unique theme based around Make.
          p
            | At X, we want all participants of a team to come together as a startup and Make something. All events are interconnected to each other, and add towards the final goal of creating a useful product.
  section.grey
    .container
      .row
        .six.columns.event
          h2.title Design
          p.grey-text.mono.participant-count Participants: 3
          p
            | The Design team will have to build the actual MVP for their startup, along with its logo, website, and deck.
          p
            | Two PCs loaded with everything you might need, and a connection to the internet will be provided to each team. Participants are encouraged to get their laptops, tablets, and other devices to increase productivity and test responsive designs.
          p
            | Participants will be required to upload all files on the cloud at the end of the first day and will be allowed to work from their homes.
          .technical.card
            p
              | Every team will get 2 workstations with an internet connection, and loaded with the following:
            ul
              li
                p Git, npm, and Node.
              li
                p Sublime Text 3 & Prepros
              li
                p Photoshop CC, Illustrator CC, Blender, Sketchup
        .six.columns.event
          h2.title Programming
          p.grey-text.mono.participant-count Participants: 2
          p
            | Participants are expected to be familiar with fundamental programming constructs such as conditional statements, functions and different types of data structures.
          p
            | One PC loaded with all relevant programming software, mentioned below, will be provided to each team. Emphasis will be on paper-based strategies.
          p
            | The event will require an interplay of syntax and semantics in mathematics, logic and computer science. Algorithmic thinking to create optimized solutions will be encouraged.
          .technical.card
            p
              | Every team will get 1 workstation with an internet connection, and loaded with the following:
            ul
              li
                p Code::Blocks
              li
                p Sublime Text
              li
                p TurboC++
  section
    .container
      .row
        .six.columns.event
          h2.title Quiz
          p.grey-text.mono.participant-count Participants: 2
          p
            | X has always been known for turning the traditional Quiz format on its head, and this time it’s no different. With a time-bound Preliminary round followed by a gruelling Final round, it’s an endurance challenge at its very best.
        .six.columns.event
          h2.title Gaming
          p.grey-text.mono.participant-count Participants: 2
          p “Video games foster the mindset that allows creativity to flow” – Nolan Bushnell
          p
            | Participants should be prepared for absolutely anything. Participants are allowed to bring their own gear.
  section.grey
    .container
      .row
        .six.columns.event
          h2.title Pitching
          p.grey-text.mono.participant-count Participants: 1
          p
            | Moving away from the conventional GD format, this time the participants are required to make a deck, with the help of their design team, to pitch their product. The pitch will be followed by questions from the judges.
          p This event will test your creativity, spontaneity and presentation skills.
        .six.columns.event
          h2.title Surprise
          p.grey-text.mono.participant-count Participants: 2
          p This event is not for the faint-hearted. The stakes are high.
          p
            | Teams are advised to send their quickest thinkers, fastest clickers, and those who can handle any sort of pressure.
  section
    .container
      .row
        .six.columns.event
          h2.title CryptX
          p.grey-text.mono.participant-count Participants: Infinite
          p
            | Held on 
            b August 14–16
            | , CryptX is X’s trademark online cryptic hunt.
        .six.columns.event
          h2.title.placeholder  
          p.grey-text.mono.participant-count.placeholder  
          //- a.button.ghost(href='') View leaderboard
          //- a.button.cta(href='') Play CryptX
