extends ../layout

block content
  section#intro
    .container
      .row
        .seven.columns
          h2.title Travel
          p
            | X 2018 will be held at the Mother's International School, Sri Aurobindo Marg, on August 8 - 9, 2018.
          p All the events will be conducted at the venue the venue from 8am to 2pm.
  section#travel.grey
    .container
      .row
        .five.columns.card.mono
          p
            b The Mother’s International School
          p.links
            a(href='https://goo.gl/maps/7ME6XJzmRr72')
              | Sri Aurobindo Marg
              br
              |  New Delhi, Delhi 110016
          p.links
            a(href='') +011 2652 4806
          p
            b Getting here
          p.links
            | If you take the metro, Hauz Khas station is five minutes away from the school. Take the Exit 1 and take a left on Sri Aurobindo Marg.
          p.link
            | If you take a DTC bus, it will drop you at The Mother’s International School bus-stop, which is directly opposite Gate No. 6.
          p
            a(href='http://www.delhimetrorail.com/Zoom_Map.aspx') View the metro routes
          p.links
            a(href='https://m.uber.com/ul?client_id=LW9lQKo4zv196-fR-AXe4N4A0Ka2VQ7k&action=setPickup&pickup=my_location&dropoff[latitude]=28.5415839&dropoff[longitude]=77.1983639') Request an Uber
        .seven.columns.no-m-l
          iframe(src='https://snazzymaps.com/embed/84110' width='100%' height='555px' style='border:none;')
  section
    .container
      .row
        .six.columns.event
          h2.title Uber
          p.grey-text.mono.participant-count For new users only
          p
            | This time around, we’re partnering with Uber to ferry teams to and from the event.
          p
            | First time riders can avail the promo code by accessing the promotions tab within the Uber app.
        .six.columns.event.center
          h2.title.placeholder  
          p.grey-text.mono.participant-count Valid only on the day of the event
          code.center.mono MINETX
